body {
  margin-left: 200px;
  margin-right: 200px;
  background-image: url("https://cache.desktopnexus.com/cropped-wallpapers/2366/2366841-1440x900-[DesktopNexus.com].jpg?st=GMu4ZQ-s_hnENgCWEMPyLw&e=1555001395");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  font-family: fantasy;
}

h1 {
  background-color: white;
  border: 4px solid blue;
  width: 250px;
  text-align: center;
  padding-top: 10px;
}

ul {
  list-style: none;
}

.intro {
  background-color: white;
  width: 620px;
  border: 4px solid black;
  padding: 10px;
}

section {
  display: flex;
}

section article {
  flex: 1;
}

section button {
  background-color: #80B642;
  color: black;
  border: 4px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: none;
  cursor: pointer;
  width: 100%;
}


}

.left {
  float: left;
  width: 25%;
}

.left ul li {
  height: 110px;
  width: 100%;
  text-align: center;
}

.right {
  float: right;
  width: 75%;
}

.right ul li {
  height: 110px;
  width: 100%;
}

.clear {
  clear: both;
}

a:link {
  text-decoration: none;
}

.active, .collapsibleButton:hover {
  background-color: #80B642;
}

.contentButton {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
