body {
  margin-left: 200px;
  margin-right: 200px;
  background-image: url("https://cache.desktopnexus.com/cropped-wallpapers/2366/2366841-1440x900-[DesktopNexus.com].jpg?st=GMu4ZQ-s_hnENgCWEMPyLw&e=1555001395");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  font-family: fantasy;
}

h1 {
  background-color: #fff9e0; /* #80B3FF */;
  border: 4px solid black;
  color: black;
  width: 250px;
  text-align: center;
  padding-top: 10px;
}

ul {
  list-style: none;
}

.intro {
  background-color: #f1c550;
  width: 620px;
  border: 4px solid black;
  padding: 10px;
}

section {
  display: flex;
}

section article {
  flex: 1;
}

section h2 {
  background-color: #A1C45A;
  color: black;
  border: 4px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: none;
}

section h5 {
  text-align: center;
}

section a {
  padding: 55px;
}

a:link {
  text-decoration: none;
}

.collapsible {
  color: black;
  cursor: pointer;
  width: 30%;
  border: none;
  text-align: center;
  outline: none;
  font-family: fantasy;
  font-size: 16px;
  opacity: 0.7;
  margin-left: 365px;
  margin-bottom: 25px;
}

.active, .collapsible:hover {
  background-color: #F1C550;
}

.content {
  padding: 10px;
  margin: 0 200px 15px 200px;
  display: none;
  overflow: hidden;
  background-color: #F1C550;
  opacity: 0.7;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.dndPage {
  background-color: #f1c550;
  opacity: 0.8;
  padding: 6px;
  text-indent: 30px;
}

.dndLeft {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #f1c550;
  opacity: 0.8;
}

.dndRight {
  float: right;
  width: 50%;
  text-align: center;
  background-color: #f1c550;
  opacity: 0.8;
}

.videoGames {
  background-color: #f1c550;
  padding: 5px 10px 20px 30px;
}
